@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --white: #fffeff;
  --gray: #e2e5f0; 
  --dark-blue: #000022;
  --yellow: #ffd300;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  font-family: 'Roboto', sans-serif;  
}

.container {
  display: grid;
  grid-template: auto 1fr / 250px 1fr;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

/* HEADER */
.header {
  background-color: var(--white);
  padding: 1rem 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.top-bar {
  display: flex;
  height: 2rem;
  margin-bottom: 20px;
}

.top-bar img[src$=".svg"] {
  height: 1.5rem;
}

.search-bar {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.search-bar > input {
  flex: 1;
  border: none;
  background-color: var(--gray);
  color: var(--dark-blue);
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  height: 100%;
}

.user-info {
  margin-left: 200px;
  display: flex;
  align-items: center;
  gap: 1rem ;
}

.user-info a {
  font-weight: bold;
  width: max-content;
}

.user-info img[src$="jpg"]{
  width: 2.5rem;
  border-radius: 50%;
}

.bottom-bar {
  display: grid;
  grid-template: 100% / 2fr 1fr;
}

.greeting {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.greeting > img {
  width: 4.5rem;
  border-radius: 50%;
}

.greeting > h2{
  color: var(--dark-blue);
  font-weight: bold;
}

h2 > span {
  font-size: 1rem;
}

.action-buttons {
  display: grid;
  grid-template: 100% / repeat(3, minmax(80px, 120px));
  gap: 30px;
  align-self: end;
  justify-self: end;
}

.action-buttons > button {
  background-color: var(--yellow);
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  background-color: var(--yellow);
  grid-row: span 2;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding: 1rem;
  z-index: 2;
}

.title > img {
  width: 3rem;
}

.title > h1{
  color: var(--dark-blue);
  font-size: 1.5rem;
}

.main-menu, .settings-menu {
  margin-top: 3rem;
}

.title, .menu-item > a{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-item {
  margin-bottom: 1rem;
  list-style: none;
}

.menu-item > a > img {
  width: 1.5rem;
}

.menu-item > a {
  font-weight: bold;
  font-size: 1.2rem;
}

/* MAIN CONTENT */
.main-content {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-areas: 
  "projects side-pannel";
  gap: 40px;
  padding: 30px 30px 60px 30px;
}

.side-pannel {
  grid-area: side-pannel;
}

/* PROJECTS */
.main-content div > h2 {
  margin-bottom: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background-color: var(--white);
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.cards-container .card {
  border-left: 8px solid var(--yellow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

article h3{
  font-size: 1.2rem;
  margin-bottom: .5rem;
}

article p {
  min-width: 20ch;
}

.card-buttons {
  align-self: end;
  display: flex;
  gap: 1rem;
}

.card-buttons img {
  width: 1.5rem;
}

/* SIDE PANNEL */
.side-pannel {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: max-content max-content;
  gap: 2rem;
}
.side-pannel h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

.side-pannel .card {
  padding: 20px;
}

/* ANNOUNCEMENTS */
.announcements-pannel {
  grid-row: 1 / 2;
  width: 300px;
}
.event {
  border-top: 2px solid var(--gray);
  margin-top: .5rem;
  padding: 5px 0;
  font-size: .9rem;
}

.event:first-child  {
  border-top: none;
  margin-top: 0;
}

/* TRENDING */
.trending-pannel .card {
  margin-top: -.5rem;
  display: grid;
  gap: 1.5rem;
}

.user-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-card img {
  width: 3rem;
  border-radius: 50%;
}

@media (max-width: 1080px){
  .main-content {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "projects"
    "side-pannel";
  }

  .side-pannel {
    grid-template-columns: max-content max-content;
  }

  .container {
    grid-template: auto 1fr / 200px 1fr;
  }
}